// Place all the styles related to the Tweet controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btnsignout {
  text-align: center;
  .btn {
    padding: 20px 50px;
    font-size: large;
  }
}

#tweet_tweet {
  width: 100%;
}

.content {
  margin-top: 30px;
}