development:
  adapter: mysql2
  encoding: utf8
  database: twitt_development
  pool: 5
  username:
  password:
  host: 127.0.0.1
  port: 3306

test:
  adapter: mysql2
  encoding: utf8
  database: twitt_test
  pool: 5
  username:
  password:
  host: 127.0.0.1
  port: 3306

production:
  adapter: mysql2
  encoding: utf8
  database: twitt_production
  pool: 5
  username:
  password:
  host: 127.0.0.1
  port: 3306
